<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">

         <meta name="viewport" content="width=720">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/Home1.css">
    

        <title>teacher_Homepage</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/teacher_main">
     <h3>EnterSchool</h3>
      </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
     <div style="background-color:green; border-radius:10px;"> <a  color="black" class="nav-link" href="/teacher_main">Home</a></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Downloads</a>
    </li>
    
  </ul>
  <div  style="position:absolute; right:10px; color:white "><div class="login_png"></div><div class="dropdown" style="float:right;">
  <a class= "dropbtn" >{{name}}</a>
  <div class="dropdown-content bg">
  <a href="/logout">Log out</a>
  <a href="#">code:{{code}}</a>
  <a href="#">profile</a>
  </div>
</div></div>
</nav>

         <div class="set_div">
    				       <table style="margin:auto;">
                 <tr>
                    <td class="set_cell"><button  class="button button1" onclick="window.location.href='/take_attendance';"><div class="attendance" >Take Attendance</div></button></td>
                    <td class="set_cell"> <button class="button button2" onclick="window.location.href='/give_marks';"><div class="result">Give Marks</div></button></td>
                    <td class="set_cell"><button class="button button3" onclick="window.location.href='/set_fee_status';"><div class="fees">Fees status</div></button></td>
               </tr>
                <tr>
                    <td class="set_cell"><button class="button button4" onclick="window.location.href='/give_assignment';"><div class="assignment"> Give Assignments</div></button></td>
                    <td class="set_cell"><button class="button button5"><div class="holidays">Holidays</div></button></td>
                    <td class="set_cell"><button class="button button6" onclick="window.location.href='/upload_images';"><div class="images">Upload images</div></button></td>
               </tr>
                <tr>
                    <td class="set_cell"><button class="button button4" onclick="window.location.href='/check_assignment';"><div class="check_assignment"> Check Assignments</div></button></td>
                    <td class="set_cell"><button class="button button7" onclick="window.location.href='/Edit_notification';"><div class="edit_notification"> Edit Notification</div></button></td>
                </tr>
               </table>
 
                
                </div>
    <style>
         .set_div{
         margin:auto;       
         margin-top:30px;
         width:70%;
             
         }
         .set_cell
         {
             margin-top: 7px;
             margin-right: 9px;
         }
    </style>
 

    </body>
</html>
